[app="app.cannonball"] {
  background: rgba(0, 0, 0, 0.5);
}

[app="app.cannonball"] #pageOne {
  width: 100%;
  height: 100%;
}

[app="app.cannonball"] #pageTwo {
  width: 100%;
  height: 100%;
  background-color: black;
}

[app="app.cannonball"] .box {
  background: linear-gradient(0deg, rgba(46, 46, 46, 1) 0%, rgba(48, 48, 48, 1) 50%, rgba(83, 83, 83, 1) 100%);
  background: -o-linear-gradient(bottom, rgb(46, 46, 46) 0%, rgb(48, 48, 48) 50%, rgb(83, 83, 83) 100%);
}

[app="app.cannonball"] div {
  position: absolute;
  text-align: center;
  line-height: 125px;
  font-size: 100px;
  border-radius: 25px;
  color: rgba(255, 255, 255, 0.9);
}

[app="app.cannonball"] span {
  position: absolute;
  font-size: 35px;
  color: rgba(255, 255, 255, 0.95);
  text-align: center;
  display: block;
  text-transform: uppercase;
}

[app="app.cannonball"] #speedBox {
  /*background: rgba(255, 0, 0, 0.75);*/
  position: absolute;
  top: 15px;
  left: 25px;
  height: 125px;
  width: 280px;
  text-align: center;
  line-height: 125px;
  font-size: 100px;
  border: 5px solid rgba(255, 0, 0, 0.25);
}

[app="app.cannonball"] #speedLabel {
  position: absolute;
  top: 100px;
  left: 25px;
  width: 280px;
  height: 45px;
  font-size: 35px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.95);
  text-align: right;
  display: block;
  text-transform: uppercase;
}

[app="app.cannonball"] #AVGSpeedbox {
  /*background: rgba(0, 0, 255, 0.75);*/
  position: absolute;
  top: 175px;
  left: 25px;
  height: 125px;
  width: 280px;
  line-height: 100px;
  font-size: 90px;
  border: 5px solid rgba(0, 255, 0, 0.25);
}

[app="app.cannonball"] #AVGSpeedLabel {
  position: absolute;
  top: 260px;
  left: 25px;
  width: 280px;
  height: 45px;
  font-size: 35px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.95);
  text-align: right;
  display: block;
  text-transform: uppercase;
}

[app="app.cannonball"] #RPMbox {
  /*background: rgba(0, 0, 255, 0.75);*/
  position: absolute;
  top: 335px;
  left: 25px;
  height: 125px;
  width: 280px;
  line-height: 100px;
  font-size: 90px;
  border: 5px solid rgba(0, 0, 255, 0.25);
}

[app="app.cannonball"] #RPMLabel {
  position: absolute;
  top: 420px;
  left: 25px;
  width: 280px;
  height: 45px;
  font-size: 35px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.95);
  text-align: right;
  display: block;
  text-transform: uppercase;
}

[app="app.cannonball"] #timingbox {
  /*background: rgba(0, 255, 0, 0.75);*/
  position: absolute;
  line-height: 300px;
  font-size: 100px;
  top: 15px;
  left: 330px;
  height: 285px;
  right: 25px;
  border: 5px solid rgba(255, 255, 255, 0.25);
}

[app="app.cannonball"] #resetButton {
  /*background: rgba(0, 255, 0, 0.75);*/
  background: rgb(0, 0, 0);
  border-radius: 25px;
  position: absolute;
  width: 215px;
  top: 335px;
  height: 135px;
  right: 25px;
  line-height: 100px;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.95);
  text-align: center;
  display: block;
  text-transform: uppercase;
  border: 5px solid rgba(255, 0, 0, 0.25);
}

[app="app.cannonball"] #playPauseButton {
  /*background: rgba(0, 255, 0, 0.75);*/
  background: rgb(0, 0, 0);
  border-radius: 25px;
  position: absolute;
  width: 215px;
  top: 335px;
  height: 135px;
  left: 330px;
  line-height: 50px;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.95);
  text-align: center;
  display: block;
  text-transform: uppercase;
  border: 5px solid rgba(255, 255, 255, 0.25);
}



[app="app.cannonball"] #messageBox {
  z-index: 100;
  background: rgba(0, 0, 0, 0.85);
  position: absolute;
  left: 100px;
  right: 100px;
  top: 150px;
  height: 180px;
  font-size: 100px;
  color: rgba(255, 255, 255, 0.95);
  text-align: center;
  display: block;
  text-transform: uppercase;
  line-height: 180px;
  border: 5px solid rgba(255, 255, 255, 0.85);
}
