[app="app.romansimpledashboard"] {
	background:rgba(0, 0, 0, 0.5);
}
[app="app.romansimpledashboard"] #redBox {
  background: rgba(255, 0, 0, 0.75);
  position: absolute;
  top: 10px;
  left: 50px;
  bottom: 100px;
  right: 50px;
  text-align: center;
  line-height: 300px;
  font-size: 200px;
  border: 5px solid rgba(255, 0, 0, 0.25);
  border-radius: 25px;
  color: rgba(255, 255, 255, 0.9);
}
[app="app.romansimpledashboard"] span {
  position: absolute;
  bottom: 120px;
  left: 0;
  right: 0;
  font-size: 25px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.95);
  text-align: center;
  display: block;
  text-transform: uppercase;
}
[app="app.romansimpledashboard"] #unitLabel {
  bottom: 60px;
}
[app="app.romansimpledashboard"] #fuelLevel {
  position: absolute;
  top: 400px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: rgba(0, 255, 0, 0.75);
}