[app="app.onyxsimpledashboard"] {
  background: rgba(0, 0, 0, 0.5);
}


[app="app.onyxsimpledashboard"] div.container {
  background: rgba(46, 46, 46, 0.75);
  position: absolute;
  width: 85%;
  height: 85%;
  margin: 25px;
  border: 5px solid rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  color: rgba(255, 255, 255, 0.9);

  display: flex;
  justify-content: space-around;
}


[app="app.onyxsimpledashboard"] div.box {
  width: 27%;
  margin-top: 5%;
  margin-bottom: 5%;
  position: relative;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  border-radius: 10%;
  border: 5px;
  color: rgba(20, 20, 20, 0.9);
}

[app="app.onyxsimpledashboard"] div.location {
  background: rgba(218, 218, 218, 0.75);
  border: solid rgba(245, 245, 245, 0.25);

}


[app="app.onyxsimpledashboard"] div.starbucks {
  background: rgba(3, 116, 3, 0.75);
  border: solid rgba(5, 90, 5, 0.75);


}


[app="app.onyxsimpledashboard"] div.mcdonalds {
  background: rgba(202, 206, 6, 0.75);
  border: solid rgba(119, 108, 7, 0.75);
}

[app="app.onyxsimpledashboard"] div.overall {
  position: absolute;
  background: rgba(214, 214, 214, 0.75);
  border: solid rgba(61, 61, 61, 0.75);
  margin: 5%;
  width: 100%;
  height: 5px;
}